<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap" rel="stylesheet">
    <title>Algo Trading</title>
</head>
<body>
    <form class="form" action="/validateOTP" method="post">
            <span class="title">Enter OTP</span>
            <p class="text">We have sent a verification code to your mobile number</p>
            <div class="inputContainer">
                <input type="text" name="otp1" maxlength="1" required oninput="handleInput(1,event)" onkeydown="handleBackspace(1, event)" >
                <input type="text" name="otp2" maxlength="1" required oninput="handleInput(2,event)" onkeydown="handleBackspace(2, event)" disabled>
                <input type="text" name="otp3" maxlength="1" required oninput="handleInput(3,event)" onkeydown="handleBackspace(3, event)" disabled>
                <input type="text" name="otp4" maxlength="1" required oninput="handleInput(4,event)" onkeydown="handleBackspace(4, event)" disabled>
            </div>
            <!-- <input type="text" name="otp" /> -->
            <button class="verifyBtn" type="submit" disabled>Login</button>
    </form>
   
</body>
</html>