<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}"> -->
    <title>Algo Trading</title>
</head>
<body>
    <form class="form" [formGroup]="loginForm"(ngSubmit)="getNum()">
            <span class="title">User Login</span>
            <div class="inputContainer-login">
                <input type="email" formControlName="username" placeholder="Email Id" required >
            </div>
            <div class="inputContainer-login">
                <input type="password" formControlName="password" placeholder="Password" required>
            </div>
            <!-- <input type="text" name="otp" /> -->
            <button class="verifyBtn" type="submit">Login</button>
    </form>
    <!-- <form action="/users" method="post">
        <button>Create an account</button>
    </form> -->
</body>
</html>